---
layout: default
---

<stack-l>
  <stack-l>{{ content }}</stack-l>

  {%- if site.posts.size > 0 -%}
    <stack-l>
      {%- for post in site.posts -%}
        <stack-l space="var(--s-5)" class="post">
          <cluster-l justify="space-between">
            <div class="post-header">
              <h3 class="post-title">
                <a href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <div class="post-date">
                {{ post.date | date: "%Y" }}
              </div>
            </div>
          </cluster-l>
          <div class="post-excerpt">{{ post.excerpt }}</div>
        </stack-l>
      {%- endfor -%}
    </stack-l>
  {%- endif -%}

  <small style="display: none">
    <ul>
      {% for page in site.pages %}
        {% if page.title %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }} {{ page.url | relative_url }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </small>
</stack-l>
