@import './normalize.css';

header.site-header {
  background: #eee;

  .wrapper {
    margin: 1rem;
  }

  .site-title {
    font-family: sans-serif;
  }
}

main.page-content {
  width: 80%;
  margin: auto;
}
