nav ul {
  list-style: none;
}

.height\:100vh {
  height: 100vh;
}

.height\:100pct {
  height: 100%;
}

sidebar-l > * > *:first-child {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
}

#page-right > * > header {
  background-color: var(--color-lightish);
  border-bottom: var(--border-thin) solid rgba(0,0,0,0.5);
}


meter {
  width: 100%;
  height: var(--s-3);
}

grid-l > cover-l {
  padding: 0;
}
